In [1]:
# import required module
import os
# assign directory
directory = '/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs'
 
# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)

/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Ecole Centrale Marseille (outside) (43.34094 5.438203) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Square Protis (outside) (43.296613 5.363528) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/INTERMARCHE MOUREPIANE B (undefined) (43.351326 5.342327) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/MOUREPIANE B (undefined) (43.355055 5.328878) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/MOUREPIANE (outside) (43.355055 5.328878) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/École Centrale Marseille B (undefined) (43.3414 5.438069) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Bovis B (undefined) (43.36449 5.319078) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA CALADE B (undefined) (43.340408 5.350537) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA NERTHE B (undefined) (43.367542 5.306443) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Bovis (outside) (43.36449 5.319078) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/École Centrale Marseille (outside) (43.3414 5.438069) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/ESTAQUE GARE B (undefined) (43.363987 5.328411) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Ecole Centrale Marseille B (undefined) (43.34094 5.438203) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/École Centrale Marseille B (undefined) (43.3414 5.438069) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Les hauts de la Pélouque (outside) (43.369234 5.332426) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Ecole Centrale Marseille B (undefined) (43.34094 5.438203) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Saint André B (undefined) (43.357289 5.340359) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/ESTAQUE GARE B (undefined) (43.363987 5.328411) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Rond Point Fontaine des Tuiles B (undefined) (43.358112 5.320472) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/saint louis B (undefined) (43.348185 5.360244) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA CALADE B (undefined) (43.340408 5.350537) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Saint André (outside) (43.357289 5.340359) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/MOUREPIANE B (undefined) (43.355055 5.328878) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Les hauts de la Pélouque (outside) (43.369234 5.332426) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Rond Point Fontaine des Tuiles B (undefined) (43.358112 5.320472) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/INTERMARCHE MOUREPIANE B (undefined) (43.351326 5.342327) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Bovis B (undefined) (43.36449 5.319078) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/ESTAQUE GARE (outside) (43.363987 5.328411) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Square Protis B (undefined) (43.296613 5.363528) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/École Centrale Marseille (outside) (43.3414 5.438069) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA CALADE (outside) (43.340408 5.350537) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Les hauts de la Pélouque B (undefined) (43.369234 5.332426) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Square Protis B (undefined) (43.296613 5.363528) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/INTERMARCHE MOUREPIANE (outside) (43.351326 5.342327) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/ESTAQUE GARE (outside) (43.363987 5.328411) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA CALADE (outside) (43.340408 5.350537) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Rond Point Fontaine des Tuiles (outside) (43.358112 5.320472) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Saint André (outside) (43.357289 5.340359) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/MOUREPIANE (outside) (43.355055 5.328878) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Les hauts de la Pélouque B (undefined) (43.369234 5.332426) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA NERTHE (outside) (43.367542 5.306443) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/saint louis (outside) (43.348185 5.360244) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA NERTHE B (undefined) (43.367542 5.306443) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/saint louis B (undefined) (43.348185 5.360244) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/saint louis (outside) (43.348185 5.360244) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Ecole Centrale Marseille (outside) (43.34094 5.438203) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/INTERMARCHE MOUREPIANE (outside) (43.351326 5.342327) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/LA NERTHE (outside) (43.367542 5.306443) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Rond Point Fontaine des Tuiles (outside) (43.358112 5.320472) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Square Protis (outside) (43.296613 5.363528) Secondary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Saint André B (undefined) (43.357289 5.340359) Primary Real Time 01_01_2019 12_01_2022.csv
/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Bovis (outside) (43.36449 5.319078) Secondary Real Time 01_01_2019 12_01_2022.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [20]:
# Création d'une liste contenant l'ensemble des dataframes

In [3]:
L_df = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        L_df.append(pd.read_csv(f))

In [21]:
# Comparaison des formats des différents dataframes

In [9]:
for i in range(len(L_df)):
    print(L_df[i].shape)

(18822, 11)
(233919, 11)
(596251, 11)
(802490, 11)
(802373, 11)
(22292, 11)
(596002, 11)
(278503, 11)
(351301, 11)
(595961, 11)
(22290, 11)
(1105884, 11)
(18824, 11)
(22292, 11)
(369040, 11)
(18824, 11)
(715353, 11)
(1105897, 11)
(280666, 11)
(110243, 11)
(278495, 11)
(715272, 11)
(802474, 11)
(369048, 11)
(280661, 11)
(596302, 11)
(595983, 11)
(1105639, 11)
(233805, 11)
(22280, 11)
(278502, 11)
(369044, 11)
(233970, 11)
(596202, 11)
(1105807, 11)
(278498, 11)
(280656, 11)
(715315, 11)
(802405, 11)
(369041, 11)
(350806, 11)
(110237, 11)
(351414, 11)
(110235, 11)
(110235, 11)
(18824, 11)
(596161, 11)
(351089, 11)
(280666, 11)
(233830, 11)
(715351, 11)
(595994, 11)

In [19]:
#Réalisation d'un test afin de comparer si les colonnes des dataframes sont identiques ou non

In [11]:
for i in range (len(L_df)-1):
    print(L_df[i].columns == L_df[i+1].columns)

[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True False False False  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True False False False  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True False False False  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True False False False  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True False False False  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True]
[ True  True False False False False False False False False  True]
[ True  True False False False False False False False False  True]

In [12]:
print(L_df[2].columns)
print(L_df[3].columns)

Index(['created_at', 'entry_id', 'PM1.0_CF1_ug/m3', 'PM2.5_CF1_ug/m3',
       'PM10.0_CF1_ug/m3', 'UptimeMinutes', 'ADC', 'Pressure_hpa', 'IAQ',
       'PM2.5_ATM_ug/m3', 'Unnamed: 10'],
      dtype='object')
Index(['created_at', 'entry_id', '>=0.3um/dl', '>=0.5um/dl', '>1.0um/dl',
       '>=2.5um/dl', '>=5.0um/dl', '>=10.0um/dl', 'PM1.0_ATM_ug/m3',
       'PM10_ATM_ug/m3', 'Unnamed: 10'],
      dtype='object')

In [18]:
#Affichage de l'ensemble des tableaux concernant centrale Marseille (10_12_13_15) afin d'en comparer les colonnes

In [13]:
L_df[10]

,created_at,entry_id,>=0.3um/dl,>=0.5um/dl,>1.0um/dl,>=2.5um/dl,>=5.0um/dl,>=10.0um/dl,PM1.0_ATM_ug/m3,PM10_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:30:16 UTC,1,829.75,750.81,0.00,0.0,0.0,0.0,7.56,9.97,NaN
1,2021-11-09 21:32:16 UTC,2,48.83,40.79,0.00,0.0,0.0,0.0,0.00,0.00,NaN
2,2021-11-09 21:34:14 UTC,3,48.67,40.44,0.00,0.0,0.0,0.0,0.00,0.00,NaN
3,2021-11-09 21:36:13 UTC,4,49.39,36.30,0.00,0.0,0.0,0.0,0.00,0.00,NaN
4,2021-11-09 21:38:13 UTC,5,40.61,32.57,0.00,0.0,0.0,0.0,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22285,2022-07-05 14:48:35 UTC,11448,258.46,230.71,1.06,0.0,0.0,0.0,0.34,1.77,NaN
22286,2022-07-05 14:54:09 UTC,11449,255.67,225.33,2.76,0.0,0.0,0.0,0.64,1.94,NaN
22287,2022-07-05 14:56:10 UTC,11450,245.73,215.73,2.98,0.0,0.0,0.0,0.05,1.91,NaN
22288,2022-07-05 14:58:09 UTC,11451,256.30,228.22,0.57,0.0,0.0,0.0,0.07,1.83,NaN
22289,2022-07-05 15:00:09 UTC,11452,249.89,222.20,7.91,0.0,0.0,0.0,0.00,1.67,NaN

In [14]:
L_df[12]

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,ADC,Pressure_hpa,IAQ,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:35:12 UTC,1,0.00,0.00,0.00,16520.0,NaN,866.88,NaN,0.00,NaN
1,2021-11-09 21:37:12 UTC,2,0.00,0.00,0.00,17448.0,0.0,866.87,NaN,0.00,NaN
2,2021-11-09 21:39:10 UTC,3,0.00,0.00,0.00,17280.0,0.0,866.84,NaN,0.00,NaN
3,2021-11-09 21:41:10 UTC,4,0.00,0.00,0.00,17448.0,0.0,866.71,NaN,0.00,NaN
4,2021-11-09 21:43:06 UTC,5,0.00,0.00,0.00,17280.0,0.0,866.68,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18819,2022-06-20 08:05:35 UTC,9714,4.08,6.54,7.27,18528.0,0.0,1001.91,NaN,6.54,NaN
18820,2022-06-20 08:07:35 UTC,9715,4.45,7.74,8.04,18696.0,0.0,1001.83,NaN,7.74,NaN
18821,2022-06-20 08:09:35 UTC,9716,4.16,6.84,7.00,18696.0,0.0,1001.83,NaN,6.84,NaN
18822,2022-06-20 08:11:35 UTC,9717,4.46,7.00,7.11,18696.0,0.0,1001.78,NaN,7.00,NaN
18823,2022-06-20 08:13:35 UTC,9718,3.85,6.65,7.04,18696.0,0.0,1001.81,NaN,6.65,NaN

In [15]:
L_df[13]

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,ADC,Pressure_hpa,IAQ,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:30:18 UTC,1,0.00,0.00,0.00,16488.0,NaN,867.29,NaN,0.00,NaN
1,2021-11-09 21:32:18 UTC,2,0.00,0.00,0.00,17368.0,0.0,867.30,NaN,0.00,NaN
2,2021-11-09 21:34:15 UTC,3,0.00,0.00,0.00,17200.0,0.0,867.28,NaN,0.00,NaN
3,2021-11-09 21:36:15 UTC,4,0.00,0.00,0.00,17368.0,0.0,867.22,NaN,0.00,NaN
4,2021-11-09 21:38:15 UTC,5,0.00,0.00,0.00,17368.0,0.0,867.24,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22287,2022-07-05 14:48:36 UTC,11449,0.06,0.89,0.89,19120.0,NaN,1003.28,NaN,0.89,NaN
22288,2022-07-05 14:54:11 UTC,11450,0.06,1.17,1.17,17768.0,NaN,1003.24,NaN,1.17,NaN
22289,2022-07-05 14:56:11 UTC,11451,0.00,1.00,1.24,18928.0,0.0,1003.21,NaN,1.00,NaN
22290,2022-07-05 14:58:10 UTC,11452,0.00,0.98,1.95,18928.0,0.0,1003.29,NaN,0.98,NaN
22291,2022-07-05 15:00:11 UTC,11453,0.00,1.20,1.96,18760.0,0.0,1003.25,NaN,1.20,NaN

In [16]:
L_df[15]

,created_at,entry_id,>=0.3um/dl,>=0.5um/dl,>1.0um/dl,>=2.5um/dl,>=5.0um/dl,>=10.0um/dl,PM1.0_ATM_ug/m3,PM10_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:35:13 UTC,1,32.03,23.47,0.00,0.0,0.0,0.0,0.00,0.00,NaN
1,2021-11-09 21:37:13 UTC,2,34.27,27.58,0.00,0.0,0.0,0.0,0.00,0.00,NaN
2,2021-11-09 21:39:12 UTC,3,24.08,23.60,0.00,0.0,0.0,0.0,0.00,0.00,NaN
3,2021-11-09 21:41:11 UTC,4,44.91,37.34,0.00,0.0,0.0,0.0,0.00,0.00,NaN
4,2021-11-09 21:43:07 UTC,5,40.60,33.20,0.00,0.0,0.0,0.0,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18819,2022-06-20 08:05:37 UTC,9714,453.48,416.65,19.25,0.0,0.0,0.0,4.08,7.27,NaN
18820,2022-06-20 08:07:37 UTC,9715,465.49,439.28,19.64,0.0,0.0,0.0,4.45,8.04,NaN
18821,2022-06-20 08:09:36 UTC,9716,467.07,435.50,20.30,0.0,0.0,0.0,4.16,7.00,NaN
18822,2022-06-20 08:11:36 UTC,9717,458.26,425.93,24.74,0.0,0.0,0.0,4.46,7.11,NaN
18823,2022-06-20 08:13:36 UTC,9718,464.35,426.04,23.35,0.0,0.0,0.0,3.85,7.04,NaN

In [22]:
# On récupère dans un premier temps les df nous donnant des informations sur la quantité de particules PM2.5 et on met de côté les autres

In [23]:
L_df[0]

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:35:09 UTC,1,0.00,0.00,0.00,2.0,-51.0,70.0,32.0,0.00,NaN
1,2021-11-09 21:37:09 UTC,2,0.00,0.00,0.00,4.0,-49.0,70.0,31.0,0.00,NaN
2,2021-11-09 21:39:07 UTC,3,0.00,0.00,0.00,6.0,-53.0,70.0,31.0,0.00,NaN
3,2021-11-09 21:41:06 UTC,4,0.00,0.00,0.00,8.0,-52.0,70.0,31.0,0.00,NaN
4,2021-11-09 21:43:04 UTC,5,0.00,0.00,0.00,10.0,-49.0,70.0,31.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18817,2022-06-20 08:05:33 UTC,9713,5.47,9.13,9.16,4310.0,-48.0,86.0,28.0,9.13,NaN
18818,2022-06-20 08:07:33 UTC,9714,5.64,9.04,9.74,4312.0,-48.0,86.0,28.0,9.04,NaN
18819,2022-06-20 08:09:33 UTC,9715,5.79,8.51,8.79,4314.0,-48.0,86.0,28.0,8.51,NaN
18820,2022-06-20 08:11:33 UTC,9716,5.77,8.72,8.77,4316.0,-49.0,86.0,28.0,8.72,NaN
18821,2022-06-20 08:13:33 UTC,9717,5.02,8.00,8.24,4318.0,-48.0,86.0,29.0,8.00,NaN

In [25]:
L2_df = []
rang =[]
for i in range(len(L_df)):
    test = False
    for col in L_df[i].columns:
        if col == 'PM2.5_CF1_ug/m3':
            test = True
    if test == True:
        L2_df.append(L_df[i])
        rang.append(i)

In [27]:
print(len(L2_df),len(rang))

26 26

In [28]:
print(rang)

[0, 1, 2, 4, 6, 7, 9, 12, 13, 14, 17, 18, 21, 22, 27, 29, 32, 35, 36, 39, 40, 42, 43, 44, 46, 50]

In [29]:
L2_df[0]

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-11-09 21:35:09 UTC,1,0.00,0.00,0.00,2.0,-51.0,70.0,32.0,0.00,NaN
1,2021-11-09 21:37:09 UTC,2,0.00,0.00,0.00,4.0,-49.0,70.0,31.0,0.00,NaN
2,2021-11-09 21:39:07 UTC,3,0.00,0.00,0.00,6.0,-53.0,70.0,31.0,0.00,NaN
3,2021-11-09 21:41:06 UTC,4,0.00,0.00,0.00,8.0,-52.0,70.0,31.0,0.00,NaN
4,2021-11-09 21:43:04 UTC,5,0.00,0.00,0.00,10.0,-49.0,70.0,31.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18817,2022-06-20 08:05:33 UTC,9713,5.47,9.13,9.16,4310.0,-48.0,86.0,28.0,9.13,NaN
18818,2022-06-20 08:07:33 UTC,9714,5.64,9.04,9.74,4312.0,-48.0,86.0,28.0,9.04,NaN
18819,2022-06-20 08:09:33 UTC,9715,5.79,8.51,8.79,4314.0,-48.0,86.0,28.0,8.51,NaN
18820,2022-06-20 08:11:33 UTC,9716,5.77,8.72,8.77,4316.0,-49.0,86.0,28.0,8.72,NaN
18821,2022-06-20 08:13:33 UTC,9717,5.02,8.00,8.24,4318.0,-48.0,86.0,29.0,8.00,NaN

In [30]:
L2_df[5]

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,ADC,Pressure_hpa,IAQ,PM2.5_ATM_ug/m3,Unnamed: 10
0,2022-01-12 20:57:04 UTC,1,0.0,0.0,0.0,16544.0,NaN,921.86,NaN,0.0,NaN
1,2022-01-12 20:59:05 UTC,2,0.0,0.0,0.0,17424.0,0.02,921.93,25.00,0.0,NaN
2,2022-01-12 21:03:32 UTC,3,0.0,0.0,0.0,17872.0,NaN,876.39,NaN,0.0,NaN
3,2022-01-12 21:05:31 UTC,4,0.0,0.0,0.0,18656.0,0.02,873.30,25.00,0.0,NaN
4,2022-01-12 21:07:33 UTC,5,0.0,0.0,0.0,18992.0,0.02,871.71,25.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
278498,2022-09-07 23:38:47 UTC,161219,0.0,0.0,0.0,18896.0,0.02,1007.17,246.42,0.0,NaN
278499,2022-09-07 23:40:47 UTC,161220,0.0,0.0,0.0,18896.0,0.02,1006.69,237.23,0.0,NaN
278500,2022-09-07 23:42:47 UTC,161221,0.0,0.0,0.0,18896.0,0.02,1006.53,228.93,0.0,NaN
278501,2022-09-07 23:44:47 UTC,161222,0.0,0.0,0.0,19064.0,0.02,1006.27,223.64,0.0,NaN
278502,2022-09-07 23:46:46 UTC,161223,0.0,0.0,0.0,18896.0,0.02,1005.30,219.06,0.0,NaN

In [31]:
print(rang)

[0, 1, 2, 4, 6, 7, 9, 12, 13, 14, 17, 18, 21, 22, 27, 29, 32, 35, 36, 39, 40, 42, 43, 44, 46, 50]

In [42]:
string = '/Users/louislepez/Desktop/Centrale/3A/Temps 2/RAMI/Data Capteurs/Ecole Centrale Marseille (outside) (43.34094 5.438203) Primary Real Time 01_01_2019 12_01_2022.csv'
if 'Ecole' in string:
    print('ok')

ok

In [43]:
def colonne(dataframe):
    for i in range(len(dataframe)):
        test = False
        for col in dataframe.columns:
            if col == 'PM2.5_CF1_ug/m3':
                test = True
    return test

In [53]:
df_centrale =[]
df_bovis = []
df_estaque = []
df_inter_mourepiane = []
df_calade = []
df_nerthe = []
df_pelouqe = []
df_mourepiane =[]
df_tuiles = []
df_standre = []
df_stlouis = []
df_protis =[]
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        if 'Bovis' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_bovis.append(pd.read_csv(f))
        if 'Ecole' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_centrale.append(pd.read_csv(f))        
        if 'ESTAQUE' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_estaque.append(pd.read_csv(f))
        if 'INTERMARCHE' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_inter_mourepiane.append(pd.read_csv(f))
        if 'CALADE' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_calade.append(pd.read_csv(f))
        if 'NERTHE' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_nerthe.append(pd.read_csv(f))
        if 'Pélouque' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_pelouque.append(pd.read_csv(f))
        if 'MOUREPIANE capt' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_mourepiane.append(pd.read_csv(f))
        if 'Fontaine' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_tuiles.append(pd.read_csv(f))
        if 'André' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_standre.append(pd.read_csv(f))
        if 'saint louis' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_stlouis.append(pd.read_csv(f))
        if 'Protis' in f:
            df = pd.read_csv(f)
            if colonne(df) == True:
                df_protis.append(pd.read_csv(f))

In [54]:
print(len(df_centrale),
len(df_bovis),
len(df_estaque),
len(df_inter_mourepiane),
len(df_calade),
len(df_nerthe),
len(df_pelouqe),
len(df_mourepiane),
len(df_tuiles),
len(df_standre),
len(df_stlouis),
len(df_protis))

2 2 2 2 2 2 0 2 2 0 2 2